*{
    font-family : Albert Sans;
    /* font-size: larger; */
}

body{
    background-color: whitesmoke;
}

.jokeButton{
    border-radius: 5px;
    position: fixed;
    bottom:100px;
    background-color: antiquewhite;
    box-shadow: black;
}

center{
    margin: 18%;
}