*{
    font-family : Albert Sans;
}

body{
    background-color: rgb(255, 232, 205);
}

.jokeButton{
    border-radius: 5px;
    border-color: beige;
    position: fixed;
    bottom:100px;
    background-color: antiquewhite;
    font-size: 20px;
    height:30px;
    width:30px;
}

center{
    margin: 14%;
}

.jokeText{
}

.nav{
    color:black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding: 0 4rem;
    border-radius: 7px;
    margin-right: 80px;
}

.nav ul{
    color:inherit;
    align-items: flex-end;
    margin-left: 90%;
    list-style: none;
    display:flex;
    padding:0 4% 0 0;
    gap:3rem;
}

.nav a{
    text-decoration: none;
}